<a id="home" href="/">
    <h1><%= titleForm%> do Gusta</h1>
</a>
<form action="/<%= action %>" method="post">
    <input type="text" name="task" id="task" placeholder="Insira uma tarefa" 
    value="<%= value  %> ">
    <button id="<%= idBtn %>" type="submit"><%= nameBtn %></button>
</form>